body {
    font-family: 'Noto Sans JP',monospace;
    min-height: 600px;
    background-image: url(http://4.bp.blogspot.com/-xDitKsiv4fU/VVTxhsKJGWI/AAAAAAAACQs/keM8Fktm-bI/s1600/81E.gif); 
    background-color: #696969;
    background-size: 20vh;
    background-position: top;
    background-repeat: repeat-x;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 20vh;
  }
  
  .page-title {
    color:#ffa500;
    font-size: 30px;
    margin-top: 50px;
  }
  
  .page-subtitle {
    color:#ffa500;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .page-logo {
    width: 150px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .form{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
  }
  input{
    width:220px;
    padding:15px;
    font-size:16px;
    border-radius:10px;
    background-color:#ffffff;
    margin-bottom:10px;
    border:1;
    border-color:#ff9933;
  }
  .result{
    color:#ffa500;
  }
  button{
    padding:10px 20px;
    border-radius:12px;
    border:1;
    background-color:#77DD77;
    color:black;
    font-size:20px;
    cursor:pointer;
  }
  
  .left {
    float: right;
  
  }
  
  .left input,label {
    display: block;
  }
  
  .right {
    float: right;
    width: 50%;
    text-align: left;
    }
  
  .right label{
    text-align: center;
    width: 50%;
   }
  
  .imgtemp {
    width:30px
    }